[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask = "*"
flask-cors = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.12"
